<h5 class="text-center text-primary" *ngIf="is.cart.length > 0"><small>The follwing items have been added to your cart</small></h5>
<h5 class="text-center text-primary" *ngIf="is.cart.length === 0"><small>Your cart is empty</small></h5>

<div class="text-center tab-pane container active">
  <table class="table">
    <tr *ngFor="let item of is.cart; let i = index">
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.cost  | currency: 'Nu.'}}</td>
      <td><button (click)="removeFromCart(i)" class="btn btn-danger">Remove from Cart</button></td>
    </tr>
  </table>
  <div id="checkOut" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <h5 class="text-center text-success modal-title"><small>Please enter your payment details</small></h5>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <input type = "text" class="form-control" placeholder="Account No. of card"/>
            <input type = "password" class="form-control ml-2" placeholder="Pin Code"/>
          </form>
        </div>
        <div class="modal-footer">
          <p class="float-left mr-4">Total Cost: {{totalCost}}</p>
          <button type = "submit" class = "btn btn-success">Confirm Payment</button>
          <button type = "submit" class = "btn btn-danger" data-dismiss = "modal" (click)="totalCost = 0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <button data-toggle = "modal" data-target = "#checkOut" [class.btn-primary]="mouseOvered" (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true" *ngIf="is.cart.length > 0" class="btn btn-success" (click)="getTotalCost()">Check out</button>
</div>
